@model PustokFinalProject.Models.Product

<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h2>Product Name: @Model.Name</h2>
        <p>Description: @Model.Description</p>
        <p>Selling Price: @Model.SellingPrice</p>
        @if (Model.DiscountedPrice != null)
        {
            <p>Discounted Price: @Model.DiscountedPrice</p>
        }

        <h3>Authors:</h3>
        <ul>
            @foreach (var author in Model.ProductAuthors)
            {
                <li>@author.Author.Name</li>
            }
        </ul>

        <h3>Tags:</h3>
        <ul>
            @foreach (var tag in Model.ProductTags)
            {
                <li>@tag.Tag.Name</li>
            }
        </ul>
    </div>

    <div class="row" style="gap:30px;">
        @foreach (var item in Model.ProductImages)
        {
            <div class="col-2">
                <img style="width:200px;" src="~/client/assets/imgs/products/@item.Url" />
            </div>
        }
    </div>
</div>

}
